<nav>
    <a href="/cadastrar_setor">Cadastrar Setor</a>&emsp;
    <a href="/listar_setor">Listar Setor</a>&emsp;
    <a href="/editar_setor">Editar Setor</a>&emsp;
    <a href="/excluir_setor">Excluir Setor</a>&emsp;&emsp;&emsp;
    <a href="/cadastrar_atividade">Cadastrar Atividade</a>&emsp;
    <a href="/listar_atividade">Listar Atividade</a>&emsp;
    <a href="/editar_atividade">Editar Atividade</a>&emsp;
    <a href="/excluir_atividade">Excluir Atividade</a>
</nav>
<br><br>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}} 